# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# PyCharm / JetBrains
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Runtime logs
logs/